<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">5th EADM Summer School on Learning and Decision Making</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-0"></div>
                <div class="col-md-10 col-sm-10 col-xs-12">

                    <p>We all make numerous decisions in our everyday lives, from small decisions such as choosing a restaurant for dinner to impactful decisions such as choosing a career. In many cases, we have to learn through experience which restaurants we like or which professional activities we enjoy most. In hte 5th EADM Summer School on Learning and Decision Making we will investigate a wide range of desicions and look at the learning mechanisms that supports them.</p>

                    <p> The participants of the summer school will learn about the theoretical and practical foundations of how people (and machines) represent and update belief about choice alternatives, how these beliefs relate to choices, and how to obtain a process-level understanding of individual choices. It is mainly aimed at early-career researchers (PhD students, post-doctoral researchers), but is also open to advanced master students and researchers at other stages of their career.</p>

                    <p>The summer school will be a one-week long event comprised of lectures, tutorials, modeling projects, panel discussions and poster sessions. The program will cover various aspects of learning and decision making with a focus on the framework of reinforcement learning, a framework that has been particularly successful in modeling human and non-human behavior.</p>

                    <p>After completing the summer school, participants will possess the necessary skills to understand, critically evaluate, and implement various standard models of learning and decision making. Participants should be familiar with a data-analysis language of their choice (e.g., R, Python, Matlab or Julia) in order to practically apply their newly acquired knowledge.</p>

                    <p>The organization team (Pantelis Analytis, Manos Konstantinidis, Gaël Le Mens, Mikhail Spektor and Hrvoje Stojic) looks forward to welcoming you in Barcelona!</p>
                    
                </div>
            </div>
        </div>
    </section>
