<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">5th EADM Summer School on Learning and Decision Making</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-0"></div>
                <div class="col-md-10 col-sm-10 col-xs-12">

                    <p>Humans make many decisions in their everyday lives, from small decisions such as what to have for lunch to impactful decisions such as the choice of the career. In many cases, people have to learn through experience what food they like or which professional activities they like doing. The 5th EADM Summer School on Learning and Decision Making will focus on such decisions and learning that supports it.</p>

                    <p>Participants of the summer school will learn theoretical and practical foundations of how people represent and update belief about choice alternatives, how these beliefs relate to choices, and how to obtain a process-level understanding of individual choices. It is mainly aimed at early-career researchers (PhD students, post-doctoral researchers), but is also open to advanced master students and researchers at other stages of their career.</p>

                    <p>The summer school will be a one-week long event comprised of lectures, tutorials, modeling projects, panel discussions and poster sessions. The program will cover various aspects of learning and decision making with a focus on the framework of reinforcement learning, a framework that has been particularly successful in modeling human and non-human behavior.</p>

                    <p>After completing the summer school, participants will have obtained the skills necessary to understand, critically evaluate, and implement various standard models of learning and decision making. Participants should be familiar with a data-analysis language of their choice (e.g., R, Python, Matlab or Julia) in order to practically apply their newly acquired knowledge.</p>

                    <p>The organization team (Pantelis Analytis, Manos Konstantinidis, Gaël Le Mens, Mikhail Spektor and Hrvoje Stojic) look forward to welcoming you in Barcelona!.</p>
                    
                </div>
            </div>
        </div>
    </section>
