<!-- Services Section -->
    <section id="apply">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How to apply?</h2>
                    <h3 class="section-subheading text-muted">Details about the application process.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="text-muted">Eligibility...</p>
                    <p class="text-muted">To apply for the summer school you should submit the following materials:</p>
                    <ul class="text-muted">
                        <li><strong>CV</strong>: An up to date CV focusing on your academic work, at most three pages long.</li>
                        <li><strong>Motivation letter</strong>: A one-page letter detailing your motivation to participate in the summer school and what do you expect to gain.</li>
                        <li><strong>Poster abstract</strong>: As a part of our program every participant will be required to present their work in a poster session. This does not have to be a polished work, it can be a report of a partial analysis of simulated or experimental data, or just an idea that you would like to feedback on. Broadly, it should be related to learning and decision making.</li>
                        <li><strong>One reference letter</strong>: A reference letter sent to us on your behalf, detailing why you are a good candidate for the summer school. Ideally this letter should be from a person that is familiar with your academic achievements.</li>
                    </ul>

                    <p class="text-muted">When applications open a link will be available here that will lead you to a form to submit all the materials.</p>
                </div>
            </div>
        </div>
    </section>