<!-- Services Section -->
    <section id="apply">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How to apply?</h2>
                    <h3 class="section-subheading text-muted">Details about the application process.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="text-muted">Eligibility...</p>
                    <p class="text-muted">To apply for the summer school you should submit the following materials:</p>
                    <ul class="text-muted">
                        <li><strong>CV</strong>: An up-to-date CV focusing on your academic work, at most three pages long.</li>
                        <li><strong>Motivation letter</strong>: A one-page letter detailing your motivation to participate in the summer school.</li>
                        <li><strong>Poster abstract</strong>: As a part of our program every participant will be required to present their work in a poster session. In the poster you can report on unpublished analysis of simulated or experimental data, elaborate on an idea that you would like to receive feedback on, or you can present the results from a paper that you recently published. It should be related to learning and decision making, broadly conceived.</li>
                        <li><strong>One reference letter</strong>: A reference letter sent to us on your behalf, detailing why you are a good candidate for the summer school. Ideally this letter should be written by a person that is familiar with your academic achievements.</li>
                    </ul>

                    <p class="text-muted">When applications open a link will be available on this website that will lead you to a form where you will be able to submit all your materials.</p>
                </div>
            </div>
        </div>
    </section>
