<!-- Services Section -->
    <section id="apply">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How to apply?</h2>
                    <h3 class="section-subheading text-muted">Details about the application process.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-1 col-xs-0"></div>
                <div class="col-md-8 col-sm-10 col-xs-12">

                    <p>The summer school is mainly aimed at early-career researchers (PhD students, post-doctoral researchers), but is also open to advanced master students and researchers at other stages of their career. Participants should have some background in computational/quantitative analysis. The organizing team will select academically outstanding participants who stand to benefit the most from the summer school, aiming at a diverse group of different knowledge or research backgrounds.</p>

                    <p>Unfortunately we cannot finance travel and accommodation costs and participants will have to find funding to cover these costs. In terms of tuition costs, there will only be a small 50 EUR participation fee that will have to be paid on accepting an offer.</p>

                    <p>To apply for the summer school you should submit the following materials:</p>
                    <ul>
                        <li><strong>CV</strong>: An up-to-date CV focusing on your academic work, at most three pages long.</li>
                        <li><strong>Motivation letter</strong>: A one-page letter detailing your motivation to participate in the summer school.</li>
                        <li><strong>Poster abstract</strong>: As a part of our program every participant will be required to present their work in a poster session. In the poster you can report on unpublished analysis of simulated or experimental data, elaborate on an idea that you would like to receive feedback on, or you can present the results from a paper that you recently published. It should be related to learning and decision making, broadly conceived.</li>
                        <li><strong>One reference letter</strong>: A reference letter sent to us on your behalf, detailing why you are a good candidate for the summer school. Ideally this letter should be written by a person that is familiar with your academic achievements. This is required for master students and PhD candidates. Please arrange this letter to be sent to <strong>ldmss@protonmail.com</strong>, mentioninng clearly your name and surname in the email.</li>
                    </ul>

                    <p>Applications are now open and you can submit the application materials using <a href="https://forms.gle/nu7iz9thYeRCVXna8"><strong>this form</strong></a>. We recommend submitting the materials this way.</p>

                    <p>Alternatively, in case you do not have a Google account necessary to submit the form (based on Universitat Pompeu Fabra Google-based services) or you are not comfortable with sending the information through Google, you can send the materials to our email instead: <strong>ldmss@protonmail.com</strong>. In this case please submit all materials as a single PDF document.</p>

                    <p><strong>Important!</strong>. Please see our <a href="#covid">update due to Covid-19</a>.</p>

                </div>
            </div>
        </div>
    </section>
