<!-- Services Section -->
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <h3 class="section-subheading text-muted">Overview of the academic program.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Lectures</h3>
                </div>
                <div class="col-md-12">
                    <p>The faculty in the summer school will cover a wide range of core topics related to learning and decision making in humans (and machines) such as reinforcement learning, learning from experience, social learning, multi-cue probabity learning etc. </p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Tutorials</h3>
                </div>
                <div class="col-md-12">
                    <p>In addition to the main lectures we will organize hands on tutorials about methods that you can use in your own research</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Projects</h3>
                </div>
                <div class="col-md-12">
                    <p>What's more,  there will be some additional time where the faculty will help students with their currect projects</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Panel discussions</h3>
                </div>
                <div class="col-md-12">
                    <p>During the summer schoool we will host panels with leading figures in judgment and decision making research focused on topics such as career development, academic publishing and open science etc</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Poster session</h3>
                </div>
                <div class="col-md-12">
                    <p>There will be two poster sessions where participants will present they research to other early career researchers and the faculty </p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Social activities</h3>
                </div>
                <div class="col-md-12">
                    <p>The summer school will be an opportunity to get together with other early career researchers from around the world. We are planning on having welcome  On Saturday there will be a beach volley tournament and on Sunday you can join a hike on the nearby Catalonian mountains</p>
                </div>
            </div>


        </div>
    </section>
