<!-- Services Section -->
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <h3 class="section-subheading text-muted">Overview of the academic program.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Lectures</h3>
                </div>
                <div class="col-md-12">
                    <p class="text-muted">core topics of learning and decision making...</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Tutorials</h3>
                </div>
                <div class="col-md-12">
                    <p class="text-muted">extensive hands on sessions, 2 additional faculty present to help out wiht individual questions...</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Projects</h3>
                </div>
                <div class="col-md-12">
                    <p class="text-muted">some additional hours aimed to help participants to implement the modelling, work on their data...</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Panel discussions</h3>
                </div>
                <div class="col-md-12">
                    <p class="text-muted">career advice, publishing, open science etc...</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Poster session</h3>
                </div>
                <div class="col-md-12">
                    <p class="text-muted">participants presenting their own ideas, projects, anything they want feedback on...</p>
                </div>
            </div>

        </div>
    </section>