<!-- Services Section -->
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <h3 class="section-subheading text-muted">Overview of the academic program.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Lectures</h3>
                </div>
                <div class="col-md-12">
                    <p>The faculty in the summer school will cover a wide range of core topics related to learning and decision making in humans (and machines). The focus will be on quantitative approaches that involve computational modeling of cognitive processes. Topics will revolve around reinforcement learning, from frontiers in decisions from experience, sampling explanations of biases, integration with sequential sampling, to neural processing underlying reinforcement learning. Several other learning topics related to decision making will be covered as well. These include topics such as function learning, category learning, and social learning in the domains of truth and taste.</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Tutorials</h3>
                </div>
                <div class="col-md-12">
                    <p>In addition to the main lectures there will be extensive hands-on tutorials that will focus on methods and implementing computational models on behavioral data. These will cover a similar range of topics.</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Projects</h3>
                </div>
                <div class="col-md-12">
                    <p>What's more, there will be some additional time where the faculty will help participants with their current projects. Every participant will be assigned to two different faculty members who will give them advice on their current research. Moreover, after tutorials there will be free time where participants can get practical help with implementing newly learned methods in their own projects.</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Panel discussions</h3>
                </div>
                <div class="col-md-12">
                    <p>During the summer school we will host panels with leading figures in Judgment and Decision Making research focused on topics such as career development, academic publishing and open science. We will leverage Barcelona's bustling <a href="https://bejavioral.org/">JDM community</a> spanning four different academic institutions to connect students to other researchers in the city.</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Poster session</h3>
                </div>
                <div class="col-md-12">
                    <p>The summer school will also host a poster session where participants will present their research. This will be an opportunity to get feedback on your current research from a broader audience and to communicate your most recent results or exciting results.</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3 class="section-heading">Social activities</h3>
                </div>
                <div class="col-md-12">
                    <p>Last but not least, the summer school will be an opportunity to get together with other early career researchers in learning and decision making field from around the world. On Saturday there will be beach outing with volleyball and other activities in store, and on Sunday you can join a hike on the nearby Catalan mountains</p>
                </div>
            </div>


        </div>
    </section>
