<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Important dates</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><strike>15 February, 2020</strike> Moved to 1 February, 2021</h4>
                                    <h4 class="subheading">Applications open</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Submit your application package: CV, motivation letter and a poster abstract. You will also need to arrange for a reference letter to be sent on your behalf.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><strike>15 March, 2020</strike> Moved to 1 March, 2021</h4>
                                    <h4 class="subheading">Applications close</h4>
                                </div>
                                <div class="timeline-body">
                                    <p> The summer school organization team starts evaluating applicants. Up to the 30 doctoral candidates and postdoctoral researchers will be selected</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><strike>15 April, 2020</strike> Moved to 15 March, 2021</h4>
                                    <h4 class="subheading">Application evaluation ends</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>The organization team settles on the group of selected applicants and sends out acceptance letters. Candidates have two weeks to confirm attending the event.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><strike>8-15 July, 2020</strike> Moved to 9-16 June, 2021</h4>
                                    <h4 class="subheading">Summer school!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>An exciting academic program awaits you! You will get up to speed on frontiers of learning and decision making research in humans. There will also be plenty of opportunities for getting to know better the faculty and other summer school participants.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a class="timeline-image-text" href="#apply">
                                    Apply
                                    <br>And
                                    <br>Join us!
                                </a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
