<!-- Services Section -->
    <section id="venue" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Venue</h2>
                    <h3 class="section-subheading text-muted">Location and other practical information.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <h4>Universitat Pompeu Fabra: Ciutadella Campus</h4>

                    <p>Carrer de Ramon Trias Fargas, 25-27<br>08005 Barcelona, Spain</p>

                    <div class="venue-image">
                        <img class="img-responsive img-centered" src="img/venue/upf-ciutadella.jpg" alt="">
                    </div>
                    <div class="venue-image">
                        <img class="img-responsive img-centered" src="img/venue/upf-map.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12">
                    <h4>Accomodation and travel arrangements</h4>

                    <p>Unfortunately we cannot cover accomodation and travel costs for the summer school. In case you will need any support documents to apply for scholarships to cover these costs please <a href="#contact">get in touch with us</a> and we will do our best to help you out.</p>

                    <p>To help with accomodation costs we managed to secure a 20% discount in selected student dormitories in Barcelona: RESA residency, <a href="https://www.resa.es/en/residences/barcelona/residence-hall-la-ciutadella/residence/">"Campus Ciutadella"</a> and <a href="https://www.resa.es/en/residences/barcelona/residence-hall-campus-del-mar/residence/">"Campus Mar"</a> locations that are nearby the venue.</p>
                </div>
            </div>


            <!--<div class="row text-center">
                <div class="col-md-12">  
                    <h4>Printing services</h4>

                    <p>To print out posters for the session we recommend the following print shops: .</p>
                </div>
            </div>

 -->
            <div class="row text-center">
                <div class="col-md-12">
                    <h4>Invitation letters for visas</h4>

                    <p>We will provide you with an invitation letter for a visa application upon request. We will be able to this after selecting the participants. Please <a href="#contact">get in touch with us</a> if you need more information or your country has particular deadlines to apply for visas.</p>
                </div>
            </div>
        </div>
    </section>