<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include about.html %}
    {% include faculty.html %}
    {% include program.html %}
    {% include timeline.html %}
    {% include venue.html %}
    {% include apply.html %}
    {% include directors.html %}
    {% include sponsors.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>